body {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size: 16px;
}

li {
	font-size: 16px;
}

.container {
	width: 100%;
	height: 650px;
}

.heatmap-container {
	width: 100%;
	aspect-ratio: 1.2;
}

.two-heatmaps-container {
	display: flex;
	width: 150%;
	margin-left: -25%;
}

.two-heatmaps-container .heatmap-container {
	aspect-ratio: 1.15;
}

.tab_content_shadow {
	/*background-color: rgba(255, 69, 0, 0.03);*/
	box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
	padding: 15px;
	border-radius: 0 0 10px 10px;
}
