body {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size: 16px;
}

li {
	font-size: 16px;
}

.container {
	width: 100%;
	height: 650px;
}

.heatmap-container {
	width: 100%;
	aspect-ratio: 6/5;
}
